.container {
  margin: $container-marge;
  padding: $container-padding;
  background-color: white;
}

.figure {
  text-align: center;

  img {
    margin-top: $img-marge-top;
    width: $image-size;
    height: $image-size;
    border-radius: $border-radius;
  }

  .user-cv {
    font-weight: bold;
  }
}

.split-line {
  border: none;
  border-bottom: 1px solid $gray-light;
}

.section-title {
  color: $primary-color;
}

.about-me {
  margin-bottom: $about-marge-bottom;
  p {
    overflow-wrap: anywhere;
  }
}

.education-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: $education-info;
}

.education-description {
  width: 80%;
  background-color: $gray-light;
}
